<form id="change-password">
  <fieldset>
    <label class="old">
        Old password
        <input type="password" name="passwords[old]" class="old-password">
  </label>

    <label class="new">
        New password
        <input type="password" name="passwords[new]" class="new-password">
  </label>

    <input type="submit" name="submit" value="Change password!">
  </fieldset>
</form>
<br>
<h4 class="back-to-menu">Back</h4>
