<form id="sign-up">
  <fieldset>
    <label class="email">
        Email
        <input type="email" name="credentials[email]" class="signup-email">
  </label>
    <br>
    <label class="password">
        Password
        <input id="password" type="password" name="credentials[password]" class="signup-password">
  </label>
    <br>
    <label class="password_confirmation">
        Password <br>Confirmation
        <input id="password_confirmation" type="password" name="credentials[password_confirmation]" class="signup-password">
  </label>
    <br>
    <input type="submit" name="submit" value="Sign up!">
  </fieldset>
</form>

<h4 class="back-to-signin">Back</h4>
