$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$sky-blue: rgb(93, 106, 219);
$blue: rgb(0, 48, 255);
$grey: rgb(111, 124, 119);
$black: rgb(0, 0, 0);
$red: rgb(255, 0, 0);
$white: rgb(255, 255, 255);

.create-book-title {
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  color: $sky-blue;
}

.content-body {
  border: 5px solid $sky-blue;
  border-radius: 10px;
  margin: 0 20%;
}

.create-container {
  border: 1px solid $black;
  margin-left: 30%;
  margin-right: 30%;
}

.create-css {
  padding-top: 15px;
  text-align: center;
}

.auth {
  text-align: center;
}

.back-to-menu {
  color: $blue;
  margin-right: 100%;
}

.back-to-menu:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

.textarea {
  resize: none;
}

.index-post {
  text-align: right;
}

.index-title {
  font-family: 'Ubuntu', sans-serif;
  margin: 0 41%;
  padding-bottom: 18px;
  padding-top: 18px;
}

.index-title:hover {
  background: $sky-blue;
  border-radius: 100%;
  color: $white;
  cursor: pointer;
}

.menu {
  margin-right: 100%;
}

.menu:hover {
  cursor: pointer;
}

.comment-content {
  border: 1px solid $sky-blue;
  border-radius: 10px;
  margin: 0 20%;
  padding: 10px;
}

.content {
  text-align: center;
}

.back-to-signin {
  margin: 0 300px;
}

.back-to-signin:hover {
  background: $sky-blue;
  border-radius: 100%;
  color: $white;
  cursor: pointer;
}

.post-show-content {
  font-family: 'Ubuntu', sans-serif;
}
